<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - A Pen by Zach Dicken</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
    <input type="text" placeholder="Name" v-model="name"></input>
    <input type="text" placeholder="Email" v-model="email"></input>
    <div><pre>{{message}}</pre></div>
    <br>
</div>

<div id="app2">
  <comp v-for="n in names" v-bind:name="n.name" v-bind:codename="n.codename"></comp>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
